<section>
  <form action="http://runbikeco.us7.list-manage.com/subscribe/post?u=55eb5e5931ada0011e8f53b8e&amp;id=4ce658597e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <h2>Newsletter</h2>
    <label for="mce-EMAIL">Prefer email over RSS? No problem, subscribe to the list below. I hate spam as much as you do,
    therefore I won't abuse your email.</label>
    <div class="clear"><input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required> </div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
  </form>
</section>
