// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "footnote";

div.affiliate {
  padding: 2em;
  font-size: small;
  color: #696969;
  text-align: center;
}

h1.entry-title {
    font-size: 2em;
    line-height: 1.2em;
}

div.mc_emebed_signup {
  color: #4b4b4b;
  background-color: #696969;
}
